DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
APP_PORT=3000
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRATION=7d
MP_ACCESS_TOKEN=[mercado-pago-access-token]
MP_WEBHOOK_SECRET=[mercado-pago-webhook-secret]
MP_BACK_URL=http://localhost:5173
